<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>Visualisations</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'topics'}}
        Topics
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
