---
- name: install vim
  hosts: all
  become: true

  tasks:
    - name: get aptitude for upgrade
      apt: pkg=aptitude state=present

    - name: remove old vim
      apt:
        name: "{{ packages }}"
        state: absent
      vars:
        packages:
        - vim
        - vim-runtime
        - vim-tiny
        - vim-common
        - gvim

    - name: install base packages
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
        - libncurses5-dev
        - libgtk2.0-dev
        - libatk1.0-dev
        - libcairo2-dev
        - libx11-dev
        - libxpm-dev
        - libxt-dev
        - python3
        - python3-dev
        - ruby-dev
        - git
        - checkinstall
        - cmake
        - universal-ctags

    - name: clone vim
      git: repo=https://github.com/vim/vim.git dest=/tmp/vim depth=1

    - name: install vim
      script: installVim.sh

    - name: remove vim directory
      command: rm -rf /tmp/vim

- name: setup vim
  hosts: all

  tasks:
    - name: install dependencies for plugins
      become: true
      apt:
        name: fonts-powerline
        state: present

    - name: install vundle
      git: repo=https://github.com/VundleVim/Vundle.vim.git dest={{ ansible_env.HOME }}/.vim/bundle/Vundle.vim

    - name: copy vimrc
      command: cp .vimrc {{ ansible_env.HOME }}
  
    - name: Make ycm
      file: name=~/.vim/bundle state=directory

    - name: Download ycm
      git: repo=https://github.com/ycm-core/YouCompleteMe.git dest=~/.vim/bundle/YouCompleteMe

    - name: install ycm
      command: ./install.py --clang-completer
      args:
        chdir: ~/.vim/bundle/YouCompleteMe

    - name: install vim plugins
      command: vim +PluginInstall +qall
